
body{
  background-color: #fafafa;
}

.main-container{
  padding: 10px;
}


.app-content{
  margin: 10px 0;
  border-top: 1px solid black;
  padding: 10px 0 0 0 ;
  min-height: 300px;
  /* background: white; */
}

#note-thoughts{
  width: calc(100% - 20px);
  margin-top: 10px;
  min-height: 300px;
  padding: 10px;
}

.create-note-form{
  width: 100%;
}

.app-menu-container{
  text-align: center;
}

.notes-box{
  width: 100%;
}

.note-box{
  /* display: inline-block; */
  min-height: 180px;
  /* max-width: 29%; */
  background: papayawhip;
  /* margin: 0 1px ; */
  /* max-width: 29%; */
  margin: 5px !important ;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}
.note-box:hover{
  filter: drop-shadow(0px 0px 3px  #ccc );
}

.note-box-bin{
  position: relative;
  float: right;
  right: 0;
  top: 0;
}


.note-box-title{
  font-weight: 900;
  margin-left: 60px;
  padding: 2px 0 0 2px;
  background: #f5e1c2;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 3px;
}

.note-box-thoughts{

  padding-top: 10px;
}


@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Handlee);

.paper-high-priority {
  position: relative;
  width: 90%;
  max-width: 800px;
  min-width: 355px;
  height: 480px;
  margin: 5px auto;
  background: papayawhip;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
  overflow: hidden;
}
.paper-medium-priority {
  position: relative;
  width: 90%;
  max-width: 800px;
  min-width: 355px;
  height: 480px;
  margin: 5px auto;
  background: papayawhip;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
  overflow: hidden;
}
.paper-low-priority {
  position: relative;
  width: 90%;
  max-width: 800px;
  min-width: 355px;
  height: 480px;
  margin: 5px auto;
  background: papayawhip;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
  overflow: hidden;
}

.paper-high-priority:before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 60px;
  background: radial-gradient(#ff8e8e 4px, transparent 6px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid gray;
  box-sizing: border-box;
}

.paper-medium-priority:before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 60px;
  background: radial-gradient(rgb(131, 131, 247) 4px, transparent 6px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid gray;
  box-sizing: border-box;
}

.paper-low-priority:before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 60px;
  background: radial-gradient(gray 4px, transparent 6px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid gray;
  box-sizing: border-box;
}

.paper-content {
  position: absolute;
  top: 30px; right: 0; bottom: 30px; left: 60px;
  background: linear-gradient(transparent, transparent 28px, gray 28px);
  background-size: 30px 30px;
}

.paper-content textarea {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  line-height: 30px;
  padding: 0 10px;
  border: 0;
  outline: 0;
  background: transparent;
  color: mediumblue;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 18px;
  box-sizing: border-box;
  z-index: 1;
}

.note-modified{
  position: absolute;
  transform: rotate(-90deg);
  left: -28px;
  bottom: 70px;
  text-shadow: 0 0 1px #555;
  color: gray;
}

.app-route-menu{
  margin: 0 5px !important;
}

/* 
checklist
datetime
color - priority
note format */
